body {
 font-family: Arial;
 font-size: 10pt;
 color: black;
 background-color: #CCCCCC;
}
h1 {
 font-family: Arial;
 font-size: 24pt;
 font-weight: bold;
 color: #C77C38;
 padding-bottom:0; margin-bottom:0;
}
h2 {
 font-family: Arial;
 font-size: 17pt;
 font-weight: bold;
 color: #B12CD3;
 padding-bottom:0; margin-bottom:0;
}
h3 {
 font-family: Arial;
 font-size: 15pt;
 font-weight: bold;
 color: darkblue;
}
td {
 font-family: Arial;
 font-size: 10pt;
 color: black;
}

a:link { text-decoration:none }
a:visited { text-decoration:none }
a:hover { text-decoration:none }
a:active { text-decoration:none }

table {
 background-color: #BBBBBB;
}

ul { padding-top:0; margin-top:0;padding-bottom:0; margin-bottom:0; }