body {
 font-family: Arial;
 font-size: 10pt;
 color: black;
 background-color: white;
}
h1 {
 font-family: Arial;
 font-size: 36pt;
 font-weight: bold;
 color: darkblue;
}
h2 {
 font-family: Arial;
 font-size: 17pt;
 font-weight: bold;
 color: darkblue;
}
h3 {
 font-family: Arial;
 font-size: 15pt;
 font-weight: bold;
 color: darkblue;
}
td {
 font-family: Arial;
 font-size: 10pt;
 color: black;
}

a:link { text-decoration:none }
a:visited { text-decoration:none }
a:hover { text-decoration:none }
a:active { text-decoration:none }

table {
 background-color: white;
 border-color: #AAAAAA;
}
