body {
 font-family: Arial;
 font-size: 10pt;
 color: #400000;
}
h1 {
 font-family: Arial;
 font-size: 24pt;
 font-weight: bold;
 color: #C77C38;
}
h2 {
 font-family: Arial;
 font-size: 17pt;
 font-weight: bold;
 color: #B12CD3;
}
h3 {
 font-family: Arial;
 font-size: 15pt;
 font-weight: bold;
 color: blue;
}
td {
 font-family: Arial;
 font-size: 10pt;
 color: #400000;
}
