body {
 font-family: Arial;
 font-size: 10pt;
 color: #400000;
 background-color: white;
}
h1 {
 font-family: Arial;
 font-size: 18pt;
 font-weight: bold;
 color: #C77C38;
}
h2 {
 font-family: Arial;
 font-size: 14pt;
 font-weight: bold;
 color: #B12CD3;
}
h3 {
 font-family: Arial;
 font-size: 12pt;
 font-weight: bold;
 color: blue;
}
td {
 font-family: Arial;
 font-size: 10pt;
 color: #400000;
}
table {
 background-color: white;
 border-color: #AAAAAA;
}
